/*CSS Reset*/

html, body, div, span, section, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    /*Overrides default letter spacing between divs*/
    letter-spacing: -4px;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 0;
}
ol, ul {
    list-style: none;
}

/*End CSS Reset*/

/*Begin gustom CSS*/

/*Wrappers--no shapes*/
body {
    background-color: rgb(240, 240, 240);
}

main {
    height: 800px;
    width: 1270px;
    margin: auto;
    background-color: rgb(49, 49, 49);
}

.wrapper {
    position: absolute;
    width: 1237px;
    height: 760px;
    margin: 20px;
}

.big {
    display: inline-block;
    width: 410px;
    height: 760px;
}

.big2 {
    vertical-align: top;
    display: inline-block;
    width: 416px;
    height: 760px;
}

.big3 {
    vertical-align: top;
    display: inline-block;
    width: 411px;
    height: 760px;
}

.cont-1 {
    float: left;
    margin-right: 9px;
    width: 95px;
}

.cont-2 {
    display: inline-block;
    width: 152px;
    vertical-align: top;
}

.cont-3 {
    height: 383px;
}

.cont-4 {
    float: right;
    margin-right: 9px;
    width: 95px;
}

/*Shapes*/
div {
    box-sizing: border-box;
    display: inline-block;
    margin: 0 9px 9px 0;
    box-shadow: 4px 4px 4px rgb(25,25,25);
    background-color: rgb(240,240,240);
}

.rect1 {
    height: 68px;
    width: 144px;
}

.rect2 {
    height: 68px;
    width: 248px;
}

.rect3 {
    height: 144px;
    width: 95px;
}

.rect4 {
    height: 221.5px;
    width: 95px;
}

.rect5 {
    height: 145px;
    width: 67px;
}

.rect6 {
    height: 68px;
    width: 199px;
}

.rect7 {
    height: 145px;
    width: 199px;
}

.tinysquare {
    height: 68px;
    width: 68px;
}

.bigsquare {
    height: 297px;
    width: 297px;
}

.littlesquare {
    height: 145px;
    width: 144px;
}

/*Coloring*/
.red {
    background-color: rgb(245,15,15);
}

.yellow {
    background-color: rgb(250, 227, 23);
}

.blue {
    background-color: rgb(13, 127, 190);
}

.black {
    background-color: rgb(0,0,0);
}

/*Positioning*/
.top {
    vertical-align: top;
}

.up {
    display: inline-block;
    position: relative;
    bottom: 77px;
}

.left {
    float: left;
}

.right {
    float: right;
}



